* {
  margin: 0 auto;
}

.wrapper {
  max-width: 1200px;
}

body {
  position: relative;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__LeftContainer {
  width: 75%;
}

.header__RightContainer {
  width: 25%;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main__LeftContainer {
  width: 75%;
}

.main__RightContainer {
  width: 25%;
}

.container {
  border: 2px solid black;
  margin: 0.5em;
  padding: 0.5em;
}

#map {
  height: 700px;
}

.listItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  border: 2px solid black;
  padding: 0.5em;
  border-radius: 15px;
  margin: 01em;
}

.toster {
  position: absolute;
  left: 50%;
  width: 100px;
  height: 20px;
  border: 2px solid green;
  text-align: center;
  padding: 0.5em;
  -webkit-box-shadow: 5px 5px 10px grey;
          box-shadow: 5px 5px 10px grey;
}

.toster--show {
  left: -100%;
  -webkit-transition: 1s;
  transition: 1s;
}
