* {
   margin: 0 auto;
}

.wrapper {
   max-width: 1200px;
}

body {
   position: relative;
}

.header {
   display: flex;

   &__LeftContainer {
      width: 75%;
   }
   &__RightContainer {
      width: 25%;
   }
}

.main {
   display: flex;
   justify-content: space-around;

   &__LeftContainer {
      width: 75%;
   }
   &__RightContainer {
      width: 25%;
   }
}

.container {
   border: 2px solid black;
   margin: 0.5em;
   padding: 0.5em;
}

#map {
   height: inherit;
}

.listItem {
   display: flex;
   font-size: 20px;
   border: 2px solid black;
   padding: 0.5em;
   border-radius: 15px;
   margin: 01em;
}
.toster {
   position: absolute;
   left: 50%;
   border-radius: 20px;
   width: 100px;
   color: white;
   font-size: 20px;
   height: 20px;
   border: 0px;
   background-color: royalblue;
   text-align: center;
   padding: 0.5em;
   box-shadow: 5px 5px 10px grey;
   &:hover{
      cursor: progress;
   }

   &--show {
      left: -100%;
      transition: 1s;
   }
}

.listEl{
   width: 10px;
   height: 20px;
   background-color: red;
}



            
const listEl = document.createElement('p');
listEl.innerHTML = "<img src = 'https://img.icons8.com/material-rounded/48/000000/user-male-circle.png'>"
const listText = document.createElement('p')
listText.innerHTML = el.name
listEl += listText
listText.style.display = 'flex';
listText.style.alignItems = 'center'
listEl.classList.add('listItem')
blockForInform.append(listEl)
count += 1

})
const listTotalPeople = document.createElement('p');
listTotalPeople.style.borderTop = '2px solid black';
listTotalPeople.style.margin = ' 0em -0.5em';
listTotalPeople.style.padding = '0.5em';
listTotalPeople.style.textAlign = 'center';

listTotalPeople.innerHTML = 'Total amount: ' + count + ' people on ISS'
count = 0;
blockForInform.append(listTotalPeople)

return console.log(1
